<footer class="bg-slate-950 text-slate-400 pt-16 pb-8 border-t-8 border-yellow-500 mt-20">
    <div class="max-w-7xl mx-auto px-4 grid md:grid-cols-4 gap-12 mb-12">
        <div>
            <div class="flex items-center gap-3 text-white mb-6">
                <img src="../assets/img/logosmkn1tanjungselor.png" alt="Logo SMKN 1 Tanjung Selor"
                    class="w-24 h-24 object-cover">
                <div class="font-black leading-none text-sm tracking-tighter">
                    <div>SMKN 1</div>
                    <div class="text-yellow-500 text-[8px] tracking-widest">TANJUNG SELOR</div>
                </div>
            </div>
            <p class="text-sm italic">"Berkarakter Profesional, Unggul dan Selaras dengan Dunia Kerja."</p>
            <div class="text-left flex flex-col gap-4 mt-8">
                <div class="flex gap-4">
                    <!--Instagram-->
                    <a href="https://www.instagram.com/smkn1tanjungselor" target="_blank"
                        class="w-8 h-8 bg-white/5 rounded-lg flex items-center justify-center hover:bg-yellow-500 hover:text-red-950 transition-all cursor-pointer">
                        <i data-lucide="instagram" class="w-4 h-4"></i>
                    </a>

                    <!--Youtube-->
                    <a href="https://www.youtube.com/@SMKN1TANJUNGSELOR" target="_blank"
                        class="w-8 h-8 bg-white/5 rounded-lg flex items-center justify-center hover:bg-yellow-500 hover:text-red-950 transition-all cursor-pointer">
                        <i data-lucide="youtube" class="w-4 h-4"></i>
                    </a>

                </div>
            </div>
        </div>

        <div>
            <h4 class="text-white font-black mb-6 uppercase text-xs border-l-4 border-yellow-500 pl-4">Informasi</h4>
            <ul class="space-y-4 text-xs font-bold">
                <li class="flex gap-2">
                    <i data-lucide="info" class="text-yellow-500 shrink-0 w-4 h-4"></i>
                    <a href="https://www.smkn1tanjungselor.sch.id/info-bkk.html" target="_blank"
                        class="hover:text-yellow-400">
                        INFO BKK
                    </a>
                </li>
                <li class="flex gap-2">
                    <i data-lucide="map-pin" class="text-yellow-500 shrink-0 w-4 h-4"></i> <a
                        href="https://goo.gl/maps/1Zy7n9sHj2uLh5Zt6" target="_blank" class="hover:text-yellow-400">
                        Jl. Pahlawan, Tj. Selor Hilir, Kec. Tj. Selor, Kabupaten Bulungan, Kalimantan Utara 77214
                    </a>
                </li>
                <li class="flex gap-2"><i data-lucide="phone" class="text-yellow-500 shrink-0 w-4 h-4"></i> <span> +62
                        811-5910-032</span></li>
            </ul>
        </div>

        <div>
            <h4 class="text-white font-black mb-6 uppercase text-xs border-l-4 border-yellow-500 pl-4">Manajemen</h4>
            <ul class="space-y-4 text-xs font-bold">
                <li class="flex gap-2"><i data-lucide="chevron-right"
                        class="text-yellow-500 shrink-0 w-4 h-4"></i><span>Kesiswaan</span></li>
                <li class="flex gap-2"><i data-lucide="chevron-right"
                        class="text-yellow-500 shrink-0 w-4 h-4"></i><span>Kurikulum</span></li>
                <li class="flex gap-2"><i data-lucide="chevron-right"
                        class="text-yellow-500 shrink-0 w-4 h-4"></i><span>Humas</span></li>
                <li class="flex gap-2"><i data-lucide="chevron-right"
                        class="text-yellow-500 shrink-0 w-4 h-4"></i><span>Sarana dan Prasarana</span></li>
            </ul>
        </div>

        <div>
            <h4 class="text-white font-black mb-6 uppercase text-xs border-l-4 border-yellow-500 pl-4">LSP</h4>
            <ul class="space-y-4 text-xs font-bold">
                <li class="flex gap-2"><i data-lucide="chevron-right"
                        class="text-yellow-500 shrink-0 w-4 h-4"></i><span>SK Lisensi</span></li>
                <li class="flex gap-2"><i data-lucide="chevron-right"
                        class="text-yellow-500 shrink-0 w-4 h-4"></i><span>Struktur Pengurus LSP</span></li>
                <li class="flex gap-2"><i data-lucide="chevron-right"
                        class="text-yellow-500 shrink-0 w-4 h-4"></i><span>Asesor Kompetensi</span></li>
                <li class="flex gap-2"><i data-lucide="chevron-right"
                        class="text-yellow-500 shrink-0 w-4 h-4"></i><span>Skema Sertifikasi</span></li>
            </ul>
        </div>
    </div>

    <div
        class="max-w-7xl mx-auto px-4 pt-8 border-t border-white/5 text-center text-[10px] font-black uppercase tracking-widest opacity-30">
        Copyright © 2026 SMK Negeri 1 Tanjung Selor. Website by
        <a href="https://www.porcalabs.com" target="_blank" class="hover:text-yellow-400">
            PT Porcalabs Digital Indonesia
        </a>. All rights reserved.
    </div>
</footer>